<% unless user == current_user %>
  <div class="user-police">
    <%= link_to("通報する","https://docs.google.com/forms/d/e/1FAIpQLSfTKnj744fYdqA0FeZo0u_gQykU_fbMOyvc9Ss93Qqs3lLs6Q/viewform?usp=pp_url&entry.1179462678=#{user.uid}&entry.1925500618=#{current_user.uid}") %>
  </div>
<% else %>
  <div class="user-police">
    <%= link_to("退会する","/users/#{user.uid}", method: "DELETE", data: { confirm: "Uniiiv&での情報が全て消去されます。よろしいですか？"}) %>
  </div>
<% end %>