<h1>申請可能な大学生一覧</h1>



<% @users.each do |user| %>
    <%= link_to("/seniors/#{user.uid}") do %>
      <div>
        <%= image_tag user.image.url, class: "icon", alt: "ユーザーアイコン" %>
        <%= user.school %> <%= user.department %>
      </div>
    <% end %>
<% end %>