/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
  box-sizing: border-box;
}

 body {
  margin: 0;
  font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, sans-serif;
}

.header {
  background-color: #fff8f0c7;
  color: orangered;
  text-align: center;
  padding: 0 100px;
  position: fixed;
  width: 100%;
  z-index: 10;
}

a, a:hover, a:visited {
  text-decoration: none;
}

.header a {
  color: orangered;
  font-weight: bold;
}

.logo {
  float: left;
}

.header-menu {
  padding-top: 17px; 
  float: right;
  vertical-align: middle;
  font-size: 15px;
}

.header-bar {
  margin: 0 10px;
}

.clear {
  clear: left;
}

.flash {
  color: white;
  text-align: center;
  margin-top: 55px;
  height: 28px;
  line-height: 28px;
  position: absolute;
  width: 100%;
}

.notice {
  background-color: rgb(20, 88, 190);
  font-size: 14px;
}

.success {
  background-color: rgb(4, 179, 106);
  color: white;
  font-size: 14px;
}

.danger {
  background-color: rgb(218, 37, 61);
  color: white;
  font-size: 14px;
}

.icon {
  border-radius: 100px;
  background-color: white;
  -webkit-user-drag: none;
}

ul {
  list-style: none;
}

.background {
  background-color: #FFF8F0;
}

.container {
  padding: 110px 0 100px 0 ;
  max-width: 1170px;
  margin: 0 auto;
  text-align: center;
}

.btn {
  display: block;
  width: 50%;
  background-color: rgba(31, 141, 4, 0.863);
  color: white;
  border-radius: 100px;
  margin: 10px auto;
  font-size: 20px;
  padding: 10px 0;
  text-decoration: none;
}

.btn, .btn:hover, .bth:visited, .btn:focus {
  text-decoration: none;
  color: white;
  outline: 0;
}

.edit-btn {
  display: block;
  width: 15%;
  color: white;
  border-radius: 5px;
  font-size: 15px;
  padding: 10px 10px;
  text-decoration: none;
  border: none;
  float: right;
  margin-bottom: 20px;
}

.edit-btn a, .edit-btn a:hover, .edit-bth a:visited, .edit-btn a:focus {
  text-decoration: none;
  color: white;
  outline: 0;
}

.btn-applicate:hover {
  cursor: pointer;
}

.btn-disable {
  background-color: gray;
}

.btn-approve {
  background-color: rgb(202, 4, 4);
}

.btn-deny {
  color: rgb(0, 132, 255);
  background-color: white;
}

.btn-upload {
  background-color: rgba(31, 141, 4, 0.863);
  color: white;
  border: none;
  border-radius: 100px;
  font-size: 20px;
  padding: 5px 100px;
  margin-top: 10px;
}

.btn-disable {
  cursor: default;
}

.btn-review-edit {
  display: inline-block;
  color: white;
  background-color: rgba(31, 141, 4, 0.863);
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 17px;
  margin: 0 20px 20px 0;
}

.btn-review-delete {
  display: inline-block;
  color: white;
  background-color: rgba(204, 6, 49, 0.863);
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 17px;
}

.btn-review-edit:hover, .btn-review-delete:hover {
  color: white;
}

footer {
  background-color: rgb(247, 107, 26);
  height: 70px;
  text-align: center;
}

footer p {
  color: white;
  margin: 0;
  padding-top: 28px;
}
