/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
  box-sizing: border-box;
}

 body {
  margin: 0;
  font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, sans-serif;
}

.header {
  background-color: #fff8f0c7;
  color: orangered;
  text-align: center;
  padding: 0 70px;
  position: fixed;
  width: 100%;
  z-index: 10;
}

a, a:hover, a:visited {
  text-decoration: none;
}

*:focus {
  outline: none;
}

.header a {
  color: #ff4500;
  font-weight: bold;
}

.header :not(.logo) a:hover {
  color: white;
  background-color: rgb(228, 113, 72);
  transition-duration: 0.3s;
  padding: 5px 10px;
  border-radius: 10px;
}

.logo {
  float: left;
  letter-spacing: 2px;
  margin: 15px 0;
}

.fa-graduation-cap {
  margin-right: 3px;
}

.header-menu {
  padding-top: 17px; 
  float: right;
  vertical-align: middle;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.header-login {
  margin-top: 9px;
  font-size: 18px;
  border: 1.5px solid #f76b1a;
  border-radius: 3px;
  padding: 5px 14px;
}

.header-login:hover {
  background-color: #f76b1a;
  color: white;
  transition-duration: 0.2s;
}

.header-login p {
  margin: 0;
}

.header-bar {
  margin: 0 10px;
}

.clear {
  clear: left;
}

.error_messages {
  color: rgb(218, 37, 61);
  text-align: center;
  font-size: 17px;
  margin: 5px 0;
}

.error {
  margin: 5px 0;
}

.flash {
  color: white;
  text-align: center;
  margin-top: 55px;
  height: 28px;
  line-height: 28px;
  position: absolute;
  width: 100%;
}

.notice {
  background-color: rgb(20, 88, 190);
  font-size: 14px;
}

.success {
  background-color: rgb(4, 179, 106);
  color: white;
  font-size: 14px;
}

.danger {
  background-color: rgb(218, 37, 61);
  color: white;
  font-size: 14px;
}

h2 {
  padding-bottom: 10px;
  border-bottom: 1.5px solid orange;
  margin-bottom: 40px;
  font-weight: bold;
}

.background {
  background-color: #FFF8F0;
}

.contain {
  margin: 0 auto;
  text-align: center;
  padding: 110px 15px 100px 15px;
  max-width: 1000px;
}

.btn {
  display: block;
  width: 50%;
  background-color: rgba(31, 141, 4, 0.863);
  color: white;
  border-radius: 100px;
  margin: 10px auto;
  font-size: 20px;
  padding: 10px 0;
  text-decoration: none;
}

.btn, .btn:hover, .bth:visited, .btn:focus {
  text-decoration: none;
  color: white;
  outline: none;
}

.edit-btn {
  display: block;
  width: 15%;
  color: white;
  border-radius: 5px;
  font-size: 15px;
  padding: 10px 10px;
  text-decoration: none;
  border: none;
  float: right;
  margin-bottom: 20px;
}

.edit-btn a, .edit-btn a:hover, .edit-bth a:visited, .edit-btn a:focus {
  text-decoration: none;
  color: white;
  outline: none;
}

.btn-applicate:hover {
  cursor: pointer;
}

.btn-disable {
  background-color: gray;
}

.btn-approve {
  background-color: rgb(202, 4, 54);
}

.btn-deny {
  color: white;
  background-color: rgb(71, 148, 236);
}

.btn-upload {
  background-color: rgba(31, 141, 4, 0.863);
  color: white;
  border: none;
  border-radius: 100px;
  font-size: 20px;
  padding: 7px 100px;
  margin-top: 10px;
}

.btn-disable {
  cursor: default;
}

.btn-review-edit {
  display: inline-block;
  color: white;
  background-color: rgba(31, 141, 4, 0.863);
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 17px;
  margin: 0 20px 20px 0;
}

.btn-review-delete {
  display: inline-block;
  color: white;
  background-color: rgba(204, 6, 49, 0.863);
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 17px;
}

.btn-review-edit:hover, .btn-review-delete:hover {
  color: white;
}

/*ページネーション自体のデザイン*/
.pagination {
  font-size: 18px;
  font-weight: bold;
}

.pagination .page {
  margin: 0 2px;
}

footer {
  padding: 20px 120px;
  background-color: #f76b1a;
  height: 170px;
  text-align: center;
  color: white;
  text-align: left;
}

.footer-right {
  text-align: right;
}

footer a {
  color: white;
}

footer a:hover {
  opacity: 0.85;
}

footer a:hover, footer a:visited {
  color: white;
}

footer h3 {
  font-weight: bold;
  margin-bottom: 15px;
  letter-spacing: 0.1em;
  font-size: 28px;
}

footer p {
  margin-top: 10px;
}

.br {
  display: none;
}

.block {
  display: none;
}

/*フルモーダル用*/
.full-modal {
  display: none;
}

#close-modal-button {
  display: none;
}


/*タブレット向けデザイン--------------------------------------------*/
/*タブレット向けデザイン--------------------------------------------*/
/*タブレット向けデザイン--------------------------------------------*/
@media all and (max-width: 850px) {
  .contain {
    max-width: 700px;
     padding: 110px 30px 100px 30px;
  }

  .header {
    padding: 0 20px;
    z-index: 999;
  }

  footer {
    padding: 20px 20px;
    text-align: center;
  }

  .footer-right {
    text-align: center;
  }

  .block {
    display: block;
  }

  .responsive {
    display: none;
  }

/*モーダルフルバージョン--------------------------------------------*/

  .full-modal-content {
    margin-top: 55px;
    padding-top: 40px;
    min-height: 100%;
    background-color: rgb(250, 250, 250);
    transition-duration: 1s;
  }

  ul {
    list-style: none;
    font-size: 18px;
    padding-left: 30px;
  }

  ul a {
    color: orangered;
    font-weight: bold;
  }

  ul a:hover {
    color: orangered;
    opacity: 0.85;
  }

  ul li {
    margin-bottom: 20px;
  }

  ul .fas {
    margin-right: 30px;
  }

  .fa-bars {
    font-size: 24px;
  }

  .fa-times {
    font-size: 24px;
  }

/*homes/top--------------------------------------------*/
  .catch {
    width: 100%;
    border-radius: 0;
  }

  .first-check {
    width: 100%;
  }

  .second-check {
    width: 100%;
  }

  .l-btn {
    width: 80%;
  }

  .home {
    margin-bottom: 40px;
  }

  .search-input {
    width: 83%;
  }

  .search-submit {
    width: 13%;
  }

  .none {
    display: none;
  }

  .user-index {
    width: 47%;
    margin-bottom: 30px;
  }

  .header-login {
    margin-top: 12px;
    font-size: 15px;
    border: 1px solid #f76b1a;
    border-radius: 3px;
    padding: 5px 10px;
  }

/*senior--------------------------------------------*/
  .blank-5 {
    display: none;
  }

  .user-image {
    margin: 20px auto 0;
  }

  .user-show-top {
    margin: 50px 0 70px;
    width: 100%;
  }

  .user-profile {
    float: none;
    width: 100%;
  }

  .review-index {
    float: none;
    width: 100%;
    margin-top: 100px;
  }

/*senior--------------------------------------------*/
  .user-profile-junior {
    width: 100%;
  }

  .btn-upload {
    padding: 7px 70px;
  }

  .edit-btn {
    width: 20%;
  }

  .email-notice h2 {
    margin-top: 15px;
  }

/*messages/index--------------------------------------------*/
  .user-index-msg {
    width: 100%;
  }

  .icon-msg {
    width: 17%;
  }

  .user-info-msg {
    width: 75%;
  }

  #edit-email-button .edit-email-button {
    margin-top: 30px;
  }

  #close-email-button .close-email-button {
    margin-top: 30px;
  }

/*messages/show--------------------------------------------*/
  .forbid h3 {
    font-size: 15px;
  }

/*review/form--------------------------------------------*/
  .review-form .form-control {
    width: 100%;
  }

/*status--------------------------------------------*/
  #status-step1 {
    font-size: 20px;
  }

  .status-btn {
    padding: 10px 150px;
    margin-bottom: 20px;
  }

  #junior-regist-button {
    display: block;
    width: 100%;
  }

  #senior-regist-button {
    display: block;
    width: 100%;
  }

  #status-step2 {
    font-size: 20px;
    margin: 50px 0 50px 0;
  }

  #user_image {
    margin: 10px 0 55px 0;
    max-width: 550px;
    width: 100%;
  }

  #junior-regist-form .form-control {
    width: 100%;
    max-width: 550px;
    margin: 5px 0 40px 0;
  }

  #junior-regist-form label {
    width: 100%;
    max-width: 550px;
    margin: 0;
    text-align: left;
  }

  #senior-regist-form .form-control {
    width: 100%;
    max-width: 550px;
    margin: 5px 0 40px 0;
  }

  #senior-regist-form label {
    width: 100%;
    max-width: 550px;
    margin: 0;
    text-align: left;
  }
}

/*スマホ向けデザイン--------------------------------------------*/
/*スマホ向けデザイン--------------------------------------------*/
/*スマホ向けデザイン--------------------------------------------*/
@media all and (max-width: 480px) {
  .contain {
    padding: 90px 15px 100px 15px;
  }

  .header {
    padding: 0 20px;
  }

  .logo {
    font-size: 23px;
  }

  .header-login {
    margin-top: 12px;
    font-size: 15px;
    border: 1px solid #f76b1a;
    border-radius: 3px;
    padding: 5px 6px;
  }

  h2 {
    font-size: 25px;
    margin-bottom: 25px;
  }

  footer {
    padding: 10px 10px;
    height: 190px;
  }

  footer h3 {
    font-size: 25px;
  }

  footer a {
    display: block;
  }

/*モーダルフルバージョン--------------------------------------------*/

/*homes/top--------------------------------------------*/
  .eye-catch {
    margin-top: 30px;
  }

  .catch {
    font-size: 33px;
    padding: 28px 0 120px 0;
  }

  .login-btn {
    font-size: 17px;
    padding: 5px 0;
    width: 100%;
  }

  .first-check {
    font-size: 14px;
    top: 61%;
  }

  .second-check {
    font-size: 14px;
    top: 65%;
  }

  .l-btn {
    width: 100%;
  }

  .l-btn a {
    padding: 10px 0;
  }

  .br {
    display: block;
    height: 3px;
  }

  .modal-body { 
    margin-right: 17px;
    padding-left: 0;
    padding-right: 0;
  }

  .modal-footer-1 {
    padding: 15px 0;
  }

  .modal-footer-1 p:last-child {
    margin: 0;
  }
  
  .none2 {
    display: none;
  }

  .user-index {
    width: 100%;
    margin-bottom: 20px;
  }

  .user-index a {
    padding: 12px 0;
  }

  .user-info {
    font-size: 18px;

  }

  .icon {
    margin-right: 10px;
    width: 28%;
  }

  .search-count h3 {
    font-size: 22px;
    margin-top: 0;
  }

/*senior--------------------------------------------*/
 .image-form #user_image {
    margin-bottom: 10px;
  }

  .user-show-top {
    margin: 30px 0 70px;
    font-size: 13px;
  }

  .user-show-top h3 {
    font-size: 18px;
  }

  .user-police {
    margin-right: 0;
  }

  .user-profile td {
    font-size: 17px;
  }

  #user-profile thead {
    font-size: 18px;
  }

  #user-profile tbody td {
    font-size: 16px;
  }

  #edit-profile-form label {
    font-size: 17px;
  }

  .table {
    margin-bottom: 30px
  }

  .review-index {
    margin-top: 70px;
  }

  .review-content h4 {
    font-size: 16px;
  }

  #edit-name-form .form-control {
    margin: 0;
    width: 100%;
  }

  #edit-name-form label {
    margin: 0 0 2px 0;
    font-size: 16px;
  }

  .form-control {
    margin: 0;
    width: 100%;
  }

  .email-notice .form-control {
    margin: 0;
    width: 100%;
  }

  .email-notice label {
    width: 100%;
  }

  .email-notice .btn-upload {
    margin-top: 30px;
  }

  #edit-email-button .edit-email-button {
    margin-top: 20px;
  }

  #close-email-button .close-email-button {
    margin-top: 20px;
  }

/*senior--------------------------------------------*/
  .user-profile-junior {
    margin-top: 0;
  }

  .btn-upload {
    padding: 5px 0;
    width: 100%;
  }

  .btn-profile {
    padding: 5px 0;
    width: 100%;
  }

  #edit-profile-form .form-control {
    margin-bottom: 20px;
  }

  .edit-btn {
    width: 25%;
    padding: 5px 0;
  }

  #edit-name-button .edit-name-button {
    margin-right: 0;
  }

  #close-name-button .close-name-button {
    margin-right: 0;
  }

  .email-notice h2 {
    font-size: 23px;
  }

  .email-notice h3 {
    font-size: 18px;
  }

  .non-review {
    font-size: 16px;
  }

/*ボタン------------------------------------------------------*/

.btn {
  width: 100%;
  padding: 5px 0;
  font-size: 18px;
}

/*messages/index--------------------------------------------*/
  .user-index-msg a {
    padding: 10px;
  }

  .user-last-msg {
    font-size: 15px;
  }

  .user-index p {
    margin-bottom: 3px;
  }

  .message-no-hit {
    font-size: 17px;
    margin-top: 30px;
  }

/*messages/show--------------------------------------------*/
  .icon-msg-show {
    width: 12%;
    margin-right: 8px;
  }

  .other-message p {
    max-width: 260px;
  }

  .self-message p {
    max-width: 260px;
  }

  .all-messages {
    padding-top: 5px;
  }

  .other-time {
    font-size: 11px;
  }

  .self-time {
    font-size: 11px;
  }

  .forbid h3:first-child {
    margin-bottom: 20px;
  }

  .forbid h3:last-child {
    margin-bottom: 30px;
  }

/*review/form--------------------------------------------*/
  .review-form h3 {
    font-size: 19px;
  }

/*status--------------------------------------------*/
#status-step1 {
  font-size: 20px;
}

.status-btn {
  padding: 10px 100px;
  margin-bottom: 10px;
}

#junior-regist-button {
  display: block;
  width: 100%;
}

#senior-regist-button {
  display: block;
  width: 100%;
}

#status-step2 {
  font-size: 20px;
  margin: 50px 0 50px 0;
}

#user_image {
  margin: 10px 0 55px 0;
  max-width: 550px;
  width: 100%;
}

#junior-regist-form .form-control {
  width: 100%;
  max-width: 550px;
  margin: 5px 0 40px 0;
}

#junior-regist-form label {
  width: 100%;
  max-width: 550px;
  margin: 0;
  text-align: left;
}

#senior-regist-form .form-control {
  width: 100%;
  max-width: 550px;
  margin: 5px 0 40px 0;
}

#senior-regist-form label {
  width: 100%;
  max-width: 550px;
  margin: 0;
  text-align: left;
}
}