// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ユーザーメッセージ一覧画面-------------------------------
.user-index-msg {
  display: block;
  position: relative;
  margin: 10px auto;
  background-color: rgb(253, 253, 253);
  width: 51%;
  border: 1px solid rgb(197, 197, 197);
  text-align: left;
}

.user-index-msg:hover {
  background-color: rgba(182, 182, 182, 0.322);
}

.user-index-msg a {
  display: block;
  padding: 20px 30px;
}

.icon-msg {
  display: inline-block;
  vertical-align: middle;
  border-radius: 100px;
  -webkit-user-drag: none;
  width: 12%;
  margin-right: 5%;
}

.user-info-msg {
  display: inline-block;
  width: 80%;
  vertical-align: middle;
  font-size: 18px;
}

.user-name-msg {
  color: orangered;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 5px;
}

.user-last-msg {
  color: rgba(82, 81, 81, 0.856);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 5px;
}

.user-last-msg-date {
  position: absolute;
  top: 15px;
  right: 15px;
  margin: 0;
  color: gray;
}

// ユーザーメッセージ詳細画面-------------------------------
.forbid h3 {
  color: rgb(255, 60, 0);
  font-size: 18px;
  margin: 0;
  font-weight: bold;
  margin-bottom: 40px;
}

.forbid h3:first-child {
  margin-bottom: 5px;
}

.other-user {
  background-color: rgb(201, 201, 201);
  max-width: 650px;
  margin: 0 auto;
}

.icon-msg-show {
  border-radius: 50%;
  width: 7%;
  vertical-align: middle;
  margin-right: 20px;
}

.msg-name {
  color: rgb(53, 19, 3);
  display: inline-block;
  font-size: 27px;
  vertical-align: middle;
  font-weight: bold;
}

.other-user a {
  padding: 10px 0;
  display: block;
}

/*背景色*/
.all-messages {
  padding: 20px 10px;
  max-width: 650px;
  margin: 0 auto;
  text-align: right;
  font-size: 14px;
  background-color: rgb(223, 236, 238);
  min-height: 500px; 
}

.chatting {
  width: 100%;
  text-align: left;
  position: relative;
}

.other-message {
  text-align: left;
  margin: 10px 0 3px 0;
}

.other-message p {
  display: inline-block;
  position: relative; 
  margin: 0 0 0 10px;
  padding: 8px;
  max-width: 350px;
  border-radius: 12px;
  background: #fefffe;
}

.other-message p:after {
  content: "";
  position: absolute;
  top: 3px; 
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid #fefffe;
  transform: rotate(35deg);
}

.self-time {
  margin-right: 15px; 
  font-size: 13px;
}

.other-time {
  margin-left: 15px; 
  font-size: 13px;
}

/*以下、③右側の緑コメント*/
.self-message {
  margin: 10px 0 3px 0;
}

.self-message p {
  display: inline-block;
  position: relative; 
  margin: 0 10px 0 0;
  padding: 8px;
  max-width: 350px;
  border-radius: 12px;
  background: #1bc029;
  font-size: 15px;
  text-align: left;
}

.self-message p:after {
  content: "";
  position: absolute;
  top: 3px; 
  right: -19px;
  border: 8px solid transparent;
  border-left: 18px solid #1bc029;
  transform: rotate(-35deg);
}

.message-forms {
  margin: 0 auto;
  background-color: rgb(201, 201, 201);
  max-width: 650px;
  padding: 10px 0;
}

.message-forms .btn-upload {
  margin-bottom: 0;
  width: 95%;
  border-radius: 3%;
}

.message-forms .form-group {
  margin-bottom: 0;
}

.form-group .message-form {
  margin: 0 auto;
  width: 95%;
  height: 150px;
}