// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// レビューフォーム
.star-form {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.star-form input[type="radio"] {
  display: none;
}

.star-form .fa-star {
  font-size: 30px;
  cursor: pointer;
}

.star-form input[type='radio']:checked ~ label {
  color: rgb(255, 174, 0);
}

.review-form .form-control {
  margin: 0 auto;
  width: 60%;
  height: 100px;
}

.review-form h3 {
  margin-top: 40px;
}

.review-form .form-control {
  margin: 0 auto;
  width: 60%;
  height: 100px;
}


// ユーザー詳細ページでのレビュー
.review-index {
  float: right;
  width: 40%;
}

.review-index h3 {
  margin: 0 0 20px 0;
  background-color: rgb(238, 98, 122);
  color: white;
  padding: 10px 20px;
  border-radius: 3px;
}

.user-review-star {
  text-align: left;
}

.review-icon {
  border-radius: 100px;
  width: 15%;
  vertical-align: middle;
  margin-right: 10px;
  -webkit-user-drag: none;
  background-color: white;
}

.review-star {
  color: rgb(255, 174, 0);
  font-size: 23px;
  vertical-align: middle;
}

.review-non-star {
  color: rgb(255, 174, 0);
  font-size: 23px;
  vertical-align: middle;
}

.review-content {
  text-align: left;
  font-size: 15px;
  margin-left: 10px;
}

.review-content h4 {
  font-weight: bold;
}

.review-time {
  text-align: right;
}

.non-review {
  font-size: 18px;
}