// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#junior-regist-form {
  display: none;
}

#senior-regist-form {
  display: none;
}

#regist-close-button {
  display: none;
}