<footer>
  <div class="footer-left">
    <h3>Uniiiv&</h3>
    <%= link_to("プライバシーポリシー", "/privacy") %>
    <span class="header-bar">|</span>
    <%= link_to("利用規約", "/terms") %>
    <span class="header-bar">|</span>
    <%= link_to("お問い合わせ", "https://forms.gle/Z52HEsx9v9dKb6Aj6") %>
  </div>
  <div class="footer-right">
    <p>©︎2020 Uniiiv& All Rights Reserved</p>
  </div>
</footer>